[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/sstore2"]
	path = lib/sstore2
	url = https://github.com/0xsequence/sstore2
[submodule "lib/creator-token-contracts"]
	path = lib/creator-token-contracts
	url = https://github.com/limitbreakinc/creator-token-contracts
[submodule "lib/payment-processor"]
	path = lib/payment-processor
	url = https://github.com/limitbreakinc/payment-processor
